<section class="buttons">
  <div class="container">
    <% @tables.each do |table| %>
      <a class="btn btn-2" href= <%= '/tables/' + table.camelcase %> ><%= table.camelcase %></a>
    <% end %>
  </div>

</section>
