<!DOCTYPE html>
<html>
<head>
  <title>TourOperator</title>
  <%= load_netzke %>
  <%= csrf_meta_tags %>
  <!-- <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %> -->
</head>
<body>

<%= yield %>

</body>
</html>
