<!DOCTYPE html>
<html>
<head>
  <title>TourOperator</title>
  <%= load_netzke %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
  <script>
  $(document).ready(function(){
      PopUpHide();
  });
  function PopUpShow(){
      $("#popup1").show();
  }
  function PopUpHide(){
      $("#popup1").hide();
  }
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
